* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    letter-spacing: 30px;
    font-size: 50px;
}
:root {
    --primary: #262626;
    --gray: #484848;
    --yellow: #fff900;
    --orange: #ff6c00;
}
body {
    background-color: var(--primary);
    color: var(--gray);
}
h1 {
    display: flex;
    justify-content: center;
    color: var(--gray);
    font-family: "Courier";
    font-size: 80px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
h1 {
    animation-duration: 3s;
    animation-name: blinktext;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes type {
    to {
        width: 0;
        color: var(--yellow);
        text-shadow: 0px 0px 20px;
    }
}

/* Von Aufgabe 1: */
/* 
h1 {
    font-size: 2em;

    font-weight: bold;
    display: block;
    font-family: "Lato", sans-serif;

    animation-delay: 3s;
}

@keyframes blinktext {
    to {
        text-shadow: 0px 0px 20px;

        color: var(--yellow);
    }
} */
